In [39]:
#dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [40]:
#Filepath
rawData = "Resources/Cleaned Data Date Test.csv"

In [41]:
#Read in CSV Data
rawData_DF = pd.read_csv(rawData)
rawData_DF.head()

    WINTER  Winter First Year  CLOSED Closed Date  OPENED Opened Date DAYS
0  1852-53             1852.0     NaN         NaN   5-Apr        4/5/  NaN
1  1853-54             1853.0  27-Dec      12/27/     NaN         NaN  NaN
2  1854-55             1854.0     NaN         NaN     NaN         NaN  NaN
3  1855-56             1855.0  18-Dec      12/18/  14-Apr       4/14/  118
4  1856-57             1856.0   6-Dec       12/6/   6-May        5/6/  151

In [42]:
#Winter End Year
rawData_DF = rawData_DF.assign(WinterEndYear=lambda x:x["Winter First Year"]+1)

In [45]:
#Convert all data to objects
#rawData_Object_DF = rawData_DF.astype({"Winter First Year":object})
rawData_Object_DF = rawData_DF.astype(object)
rawData_Object_DF.dtypes

WINTER               object
Winter First Year    object
CLOSED               object
Closed Date          object
OPENED               object
Opened Date          object
DAYS                 object
WinterEndYear        object
dtype: object

In [46]:
rawData_Object_DF.head()

,WINTER,Winter First Year,CLOSED,Closed Date,OPENED,Opened Date,DAYS,WinterEndYear
0,1852-53,1852,NaN,NaN,5-Apr,4/5/,NaN,1853
1,1853-54,1853,27-Dec,12/27/,NaN,NaN,NaN,1854
2,1854-55,1854,NaN,NaN,NaN,NaN,NaN,1855
3,1855-56,1855,18-Dec,12/18/,14-Apr,4/14/,118,1856
4,1856-57,1856,6-Dec,12/6/,6-May,5/6/,151,1857

In [36]:
#(Does not Work) rawData_Object_DF.assign(Date=lambda x:x["Closed Date"]+ x["WINTER"])

In [25]:
df = pd.DataFrame({'A': [1, 2, 3]})

In [26]:
df2 = df.assign(C=lambda x:x['A']+ x['A'])
df2

   A  C
0  1  2
1  2  4
2  3  6

In [28]:
df3 = df.assign(B= lambda x:x['A']+1)

In [29]:
df3

   A  B
0  1  2
1  2  3
2  3  4